<ul class="nav justify-content-end bg-light">
  <li class="nav-item">
    <%= link_to 'signup', signup_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'login', login_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'tasks', tasks_path, class: 'nav-link' %>
  </li>
</ul>
